@import '../../node_modules/scss-reset/reset';

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.badge {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  max-width: 1.2rem;
  max-height: 1.2rem;
  border-radius: 1.2rem;
}

.ellipsis {
  word-break: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jail {
  flex: 1 0 auto;
  justify-content: flex-start;
  display: flex;
  padding: 0 $gutters;
}

@for $i from 1 through $gutter-steps-length {
  .ma-#{$i} {
    margin: #{$gutter-step * $i};
  }
  .mx-#{$i} {
    margin: 0 #{$gutter-step * $i};
  }
  .my-#{$i} {
    margin: #{$gutter-step * $i} 0;
  }
  .ml-#{$i} {
    margin-left: #{$gutter-step * $i};
  }
  .mr-#{$i} {
    margin-right: #{$gutter-step * $i};
  }
  .mt-#{$i} {
    margin-top: #{$gutter-step * $i};
  }
  .mb-#{$i} {
    margin-bottom: #{$gutter-step * $i};
  }

  .pa-#{$i} {
    padding: #{$gutter-step * $i};
  }
  .px-#{$i} {
    padding: 0 #{$gutter-step * $i};
  }
  .py-#{$i} {
    padding: #{$gutter-step * $i} 0;
  }
  .pl-#{$i} {
    padding-left: #{$gutter-step * $i};
  }
  .pr-#{$i} {
    padding-right: #{$gutter-step * $i};
  }
  .pt-#{$i} {
    padding-top: #{$gutter-step * $i};
  }
  .pb-#{$i} {
    padding-bottom: #{$gutter-step * $i};
  }
}